.HeaderUserContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.HeaderUserLetter {
  background-color: #ffffff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'MontserratSemiBold', sans-serif;
  font-size: 12px;
  color: #555555;
  box-shadow: 0 2px 2px 0 rgba(29, 29, 27, 0.1);
}
.HeaderUserName {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .HeaderUserContainer {
    margin-right: 0;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1280px) {
  .HeaderUserContainer {
    margin-right: 0;
    padding: 0 20px 0 45px;
  }
  .HeaderUserLetter {
    font-size: 13px;
  }
}
