.HeaderUserContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.HeaderUserLetter {
  background-color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'MontserratSemiBold', sans-serif;
  font-size: 12px;
  color: #555555;
}
.HeaderUserName {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .HeaderUserContainer {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .HeaderUserLetter {
    font-size: 13px;
  }
}
