.section {
  background-color: var(--background-color);
  padding: 15px 0;
}

.container {
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;
}

.main_header {
  text-align: center;
  font-family: 'MontserratBold', sans-serif;
  font-size: 20px;
  padding: 10px;
  color: var(--dark-blue);
}

.img {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.test_title {
  font-family: 'MontserratMedium', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 0 25px 0;
}

.result_bar {
  margin: 0 auto;
  height: 300px;
  background-color: white;
}

.test_info {
  text-align: center;
  font-family: 'MontserratMedium', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .result_bar {
    width: 400px;
    height: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
