.button {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  width: 130px;
  height: 48px;
  border: 0;
  font-size: 10px;
  font-family: 'MontserratBold', sans-serif;
  color: var(--background-color);
  background-color: var(--orange);

  transition: background-color 250ms ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #e96105;
}

@media (min-width: 768px) {
  .button {
    font-size: 14px;
    width: 168px;
  }
}

@media (min-width: 1280px) {
  .button {
    width: 190px;
  }
}
