@import '../../stylesheet/vars.css';
@import '../../stylesheet/fonts.css';

.dashboardPage {
  background-color: #f4f6fb;
}

.dashboardPageContainer {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20px;
}

.titleContainer__title {
  font-size: 14px;
  width: 125px;
  font-family: 'MontserratMedium', sans-serif;
  letter-spacing: 0.03em;
}

.titleContainer__btnEnd {
  width: 130px;
  height: 48px;
  border: 0;
  display: block;
}

.dashboardForm {
  height: 450px;
  margin: 0 auto 20px;
  background: #fff;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.btnContainer__forward,
.btnContainer__back {
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.btnContainer__forwardText,
.btnContainer__backText {
  display: none;
}

.btnContainer__forward {
  background-color: #fff;
}

.btnContainer__back {
  background-color: var(--orange);
}

.btnContainer__arrow_forward {
  width: 18px;
  height: 18px;
  fill: #000;
}

.btnContainer__arrow_back {
  width: 18px;
  height: 18px;
  fill: #fff;
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .dashboardPageContainer {
    width: 655px;
  }

  .titleContainer__title {
    font-size: 20px;
    width: 180px;
  }

  .btnContainer {
    margin-bottom: 240px;
  }

  .btnContainer__forward,
  .btnContainer__back {
    width: 210px;
    height: 33px;
    line-height: 33px;
    border: 0;
  }

  .btnContainer__forwardText,
  .btnContainer__backText {
    display: inline-block;
    font-size: 12px;
    font-family: 'MontserratMedium', sans-serif;
    letter-spacing: 0.03em;
  }

  .btnContainer__backText {
    color: #fff;
    margin-left: 10px;
  }

  .btnContainer__forwardText {
    color: #000;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .dashboardPageContainer {
    width: 820px;
  }

  .titleContainer__title {
    font-size: 22px;
    width: 200px;
  }

  .btnContainer {
    margin-bottom: 240px;
  }
}
