.wrapper {
  background-color: var(--background-color);
  padding-top: 50px;
  padding-bottom: 60px;
}
.mainTitle {
  text-align: center;
  font-family: 'MontserratSemiBold', sans-serif;
  font-size: 18px;
}
.mainTitle:after {
  display: block;
  content: '';
  clear: both;
  width: 130px;
  border: 1px solid #e1e4e6;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}
.contactsListItemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contactsListItem {
  margin: 0 auto 20px auto;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 60px;
    padding-bottom: 65px;
  }
  .mainTitle {
    font-size: 22px;
  }
  .mainTitle:after {
    width: 325px;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1280px) {
  }
}
