.section {
  background-color: var(--background-color);
  padding-top: 120px;
  padding-bottom: 60px;
  min-height: var(--height-section);
}
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
.mainTitle {
  text-align: center;
  font-family: 'MontserratSemiBold', sans-serif;
  font-size: 18px;
}
.mainTitle:after {
  display: block;
  content: '';
  clear: both;
  width: 130px;
  border: 1px solid #e1e4e6;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.contactsListItemContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 64px;
  }
  .container {
    width: 768px;
  }
  .mainTitle {
    font-size: 22px;
  }
  .mainTitle:after {
    width: 325px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    .container {
      width: 1280px;
    }
  }
}
