.dashboardform {
  margin: 0 auto 20px auto;
  align-items: center;
  box-shadow: 0 8px 24px 0 rgba(29, 29, 27, 0.1);
  padding: 36px 14px;
  background-color: #fff;
}

.dashboardform__counter {
  font-size: 10px;
  font-family: 'MontserratLight', sans-serif;
  color: #555;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.dashboardform__counter span {
  font-family: 'MontserratBold', sans-serif;
  color: var(--orange);
}

.dashboardform__question {
  font-size: 12px;
  font-family: 'MontserratBold', sans-serif;
  color: var(--dark-blue);
  text-align: center;
  margin: 0 0 54px 0;
  letter-spacing: 0.03em;
  line-height: 18px;
  overflow-wrap: break-word;

  position: relative;
}

.dashboardform__question::before {
  content: '';
  position: absolute;
  width: 146px;
  height: 1px;
  background-color: #ced2d1;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .dashboardform {
    padding: 48px 38px 46px 56px;
  }

  .dashboardform__counter {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.03em;
  }

  .dashboardform__question {
    font-size: 22px;
    line-height: 33px;
    margin: 0 0 60px 0;
  }

  .dashboardform__question::before {
    width: 320px;
  }
}

@media (min-width: 1280px) {
  .dashboardform {
    padding: 48px 46px 46px 92px;
  }
}
