@media (min-width: 320px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    width: 100%;
    max-width: 300px;
    min-height: 150px;
    padding: 20px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
  }

  .text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }

  .item {
    display: flex;
    justify-content: space-around;
  }

  .button {
    display: inline-flex;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 5px 20px;
    border: 0;
    cursor: pointer;
    border: 0;
    outline: 0;
    letter-spacing: 0px;
    background-color: var(--orange);
    color: var(--background-color);

    transition: background-color 200ms ease-in-out;
  }

  .button:hover,
  .button:focus {
    background-color: #e96105;
  }

  /* icon */
  .icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .icon:before {
    content: '+';
    color: var(--dark-blue);
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  }
  .icon:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
  }
  .icon:hover:after {
    transform: scale(1);
  }
  .icon:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #e96105;
  }
}

@media (min-width: 768px) {
  .modal {
    max-width: 400px;
    min-height: 200px;
  }

  .text {
    font-size: 20px;
  }

  .button {
    padding: 10px 25px;
  }
}
