.heart {
  width: 16px;
  height: 16px;
  fill: var(--orange);
}

.footer {
  background-color: #121d2e;
  padding: 14px 20px;
  text-align: center;
}

.infoUnit,
.author {
  font-family: 'MontserratRegular', sans-serif;
  font-size: 10px;
  color: #fff;
  letter-spacing: 0.03em;
}

.infoUnit {
  position: relative;
}

.infoUnit:not(:last-child) {
  margin-right: 13px;
}

.infoUnit:not(:last-child)::after {
  content: '';
  border-right: 1px solid #fff;
  opacity: 0.5;
  height: 13px;
  position: absolute;
  right: -7px;
  top: 0;
}

.navLink {
  color: #fff;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
  }

  .infoUnit:last-child {
    margin-right: 5px;
  }

  .infoUnit,
  .author {
    font-size: 12px;
  }
}
