.button {
  font-size: 24px;
  font-family: 'MontserratExtraBold', sans-serif;
  color: var(--background-color);
  background-color: var(--orange);
  padding: 55px 35px 35px 35px;
  display: block;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.arrow {
  fill: var(--background-color);
  padding-top: 10px;
}

.listButton:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .button {
    width: 395px;
    padding: 65px 50px;
    font-size: 30px;
  }

  .arrow {
    display: block;
    margin: 0 auto;
  }

  .listButton:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    width: 400px;
    margin-right: 30px;
  }
}
