.button {
  width: 280px;
  font-size: 24px;
  font-family: 'MontserratExtraBold', sans-serif;
  color: var(--background-color);
  background-color: var(--orange);
  padding: 55px 45px 35px 45px;
  display: block;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.arrow {
  fill: var(--background-color);
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .button {
    width: 396px;
    padding: 65px 75px 45px 75px;
    font-size: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    width: 400px;
  }
}
