@import '../../stylesheet/main.css';
@import '../../stylesheet/vars.css';
@import '../../stylesheet/fonts.css';

.button {
  width: 280px;
  font-size: 24px;
  font-family: 'MontserratExtraBold', sans-serif;
  color: var(--background-color);
  background-color: var(--orange);
  padding: 55px 45px 35px;
  display: block;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.arrow g {
  fill: var(--background-color);
}

.arrow {
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .button {
    width: 396px;
    padding: 65px 77px 45px;
    font-size: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    width: 400px;
  }
}
