.button {
  font-size: 24px;
  font-family: 'MontserratExtraBold', sans-serif;
  color: var(--background-color);
  padding: 55px 35px 35px 35px;
  display: block;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.buttonOrange {
  composes: button;
  background-color: var(--orange);
}

.buttonBlue {
  composes: button;
  background-color: var(--dark-blue);
}

.button:hover {
  transition: 0.2s;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.22);
}

.arrow {
  fill: var(--background-color);
  padding-top: 10px;
}

.listButton:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .button {
    width: 400px;
    padding: 65px 50px;
    font-size: 30px;
  }

  .arrow {
    display: block;
    margin: 0 auto;
  }

  .listButton:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    width: 400px;
  }

  .listButton:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
