.result_wrapper {
  background-color: var(--background-color);
}

.chart {
  max-width: 160px;
  margin: 0 auto 24px;
}

.legend {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.legend__text {
  font-family: 'MontserratMedium', sans-serif;
  font-size: 15px;
  line-height: 23px;
  color: #000000;
  font-weight: 500;
  padding: 0 10px;
}
.result {
  font-family: 'MontserratBold', sans-serif;
}

.legend__text:first-child {
  border-right: 1px solid #ced2d1;
}

@media screen and (min-width: 768px) {
  .chart {
    max-width: 280px;
    margin-bottom: 36px;
  }
}
