.errorInfo {
  min-height: var(--height-section);
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 24px;
  font-family: 'MontserratMedium', sans-serif;
  letter-spacing: 0.03em;
}
